<u>Статистика на {{ last_update }}</u> <br>
<br>
{% if engines %}
{% for engine, vms_total, vms_up, vms_down in engines %}
<b>Engine</b>: <a href="{{ engine.url }}">{% if engine.available == True %} {{ engine.name }} {% else %} <s>{{ engine.name }}</s> (unavailable) {% endif %}</a> <br>
    - <b>Total:</b> {{ vms_total }} <b>Up:</b> {{ vms_up }} <b>Down:</b> {{ vms_down }}<b></b><br>
{% endfor %}
<br>
Общее количество ВМ на всех виртуализациях: <b>{{ total }}</b>
{% else %}
Нет данных
{% endif %}
