{% if data %}
<b>Хранилище <code>{{ export_name }}</code> подключено к:</b><br>
<br>
{% for d in data %}
<b>Engine:</b> <a href="{{ d['engine']['url'] }}/ovirt-engine/webadmin/?locale=en_US#storage">{{ d['engine']['name'] }}</a><br>
{% endfor %}
{% else %}
<br>
<b>Хранилище <code>{{ export_name }}</code> не подключено ни к одной виртуализации.</b>
<br> 
{% endif %}