ВМ которые выключились и больше не включались:<br>
<br>
{% for vm, engine in vms %}
<b>VM: </b>{{ vm.vm_name }} ({{ vm.stop_time.strftime("%d.%m.%Y %H:%M:%S") }}) <br>
    - <b>Engine:</b> <a href="{{ vm.engine.url }}/ovirt-engine/webadmin/?locale=en_US#vms-general;name={{ vm.vm_name }}"><code>{{ vm.vm_name }}</code></a> <br>
{% endfor %}

