{% for vm, engine, interfaces, ip_addresses in vms %}
<b>VM:</b> <code>{{ vm.vm_name }}</code><br>
<b>Engine:</b> <a href="{{ vm.engine.url }}/ovirt-engine/webadmin/?locale=en_US#vms-general;name={{ vm.vm_name }}">{{ vm.engine.name}}</a> <br>
<br>

{% if query_type == 'ip' %}

{% for addr in ip_addresses %}
<b>IP:</b> {{ addr.ip_address }}<br>
{% endfor %}

{% else %}

{% for iface in interfaces %}
<b>MAC:</b> {{ iface.mac_address }}<br>
{% endfor %}

{% endif %}

{% endfor %}