{% for vm, engine, ip_addresses in vms %}
<b>VM:</b>{% if vm.deleted_at %} <s>{{ vm.vm_name}}</s> (deleted at {{ vm.deleted_at.strftime("%d.%m.%Y")}}) {% else %} <code>{{ vm.vm_name }}</code> {% endif %}<br>
<b>Engine:</b> <a href="{{ vm.engine.url }}/ovirt-engine/webadmin/?locale=en_US#vms-general;name={{ vm.vm_name }}">{{ vm.engine.name}}</a> <br>

{% for addr in ip_addresses %}
    - <b>IP:</b> <code>{{ addr.ip_address }}</code><br>
{% endfor %}
<br>
{% endfor %}